<mat-card style="width:500px; height:500px; text-align:center;">

  <mat-card-title>We found {{totalCount}} rules.</mat-card-title>
  <mat-card-subtitle>Lets try filtering out some of them.<br>
  Select at least one of the following:</mat-card-subtitle>

  <mat-card-content fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field appearance="outline">
      <input #offer type="text" matInput placeholder="Offer ID" [(ngModel)]="primaryFilter.offer" name="offer">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input #affiliate type="text" matInput placeholder="Affiliate ID" [(ngModel)]="primaryFilter.affiliate" name="affiliate">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input #source type="text" matInput placeholder="Source" [(ngModel)]="primaryFilter.source" name="source">
    </mat-form-field>
    <div fxLayout="column" fxLayoutGap="10px">
      <button mat-raised-button color="accent" (click)="togglePrimaryFilter()" style="width:200px">MORE FILTERS</button>
      <button mat-raised-button color="primary" (click)="togglePrimaryFilter()" style="width:200px">NEXT</button>
    </div>
  </mat-card-content>

</mat-card>