<!-- Login Component, where network ID and token are entered, verified and updated in HoApiService -->
<app-login 
  *ngIf="!isValidated" 
  (validated)="onValidation($event)" 
  fxLayout="row" style="width:100vw; height:100vh;" fxLayoutAlign="center center">
</app-login>

<!-- Filters Component. Will open if there are more than X number of disabled link rules in a network -->
<app-primary-filter 
  *ngIf="primaryFilter.open" 
  [totalCount]="totalCount" 
  (filtersEmt)="onFiltersReceived($event)"
   fxLayout="row" style="width:100vw; height:100vh;" fxLayoutAlign="center center">
</app-primary-filter>


<!-- Actual disabled links data to be shown -->

<div fxLayout="column" fxLayoutAlign="center center" *ngIf="disabledLinks.length > 0" style="width:100vw;">

  <!-- Internal Filters -->
  <app-internal-filters
    [filters]="filters" 
    (filterEmt)="onInternalFilter($event)" 
    style="max-width:500px; position:absolute; top:0px; display:block; z-index:10;">
  </app-internal-filters>

  <table mat-table [dataSource]="disabledLinks" style="margin-top: 50px; z-index: -1; width:97vw;">
  
      <ng-container matColumnDef="rule_id">
        <th mat-header-cell *matHeaderCellDef> RULE ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="offer_id">
        <th mat-header-cell *matHeaderCellDef> OFFER ID </th>
        <td mat-cell *matCellDef="let element"> {{element.offer_id}} </td>
      </ng-container>

      <ng-container matColumnDef="affiliate_id">
        <th mat-header-cell *matHeaderCellDef> AFFILIATE ID </th>
        <td mat-cell *matCellDef="let element"> {{element.affiliate_id}} </td>
      </ng-container>

      <ng-container matColumnDef="affiliate_sub_id1">
        <th mat-header-cell *matHeaderCellDef> AFF SUB ID 1 </th>
        <td mat-cell *matCellDef="let element"> {{element.sub_info1}} </td>
      </ng-container>

      <ng-container matColumnDef="affiliate_sub_id2">
        <th mat-header-cell *matHeaderCellDef> AFF SUB ID 2 </th>
        <td mat-cell *matCellDef="let element"> {{element.sub_info2}} </td>
      </ng-container>

      <ng-container matColumnDef="affiliate_sub_id3">
        <th mat-header-cell *matHeaderCellDef> AFF SUB ID 3 </th>
        <td mat-cell *matCellDef="let element"> {{element.sub_info3}} </td>
      </ng-container>

      <ng-container matColumnDef="affiliate_sub_id4">
        <th mat-header-cell *matHeaderCellDef> AFF SUB ID 4 </th>
        <td mat-cell *matCellDef="let element"> {{element.sub_info4}} </td>
      </ng-container>

      <ng-container matColumnDef="affiliate_sub_id5">
        <th mat-header-cell *matHeaderCellDef> AFF SUB ID 5 </th>
        <td mat-cell *matCellDef="let element"> {{element.sub_info5}} </td>
      </ng-container>

      <ng-container matColumnDef="source">
        <th mat-header-cell *matHeaderCellDef> SOURCE </th>
        <td mat-cell *matCellDef="let element" style="max-width: 100px; word-wrap: break-word;"> {{element.source}} </td>
      </ng-container>
      <ng-container matColumnDef="strict">
        <th mat-header-cell *matHeaderCellDef> STRICT </th>
        <td mat-cell *matCellDef="let element"> {{element.strict ? 'ENABLED' : 'DISABLED'}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon color="warn" (click)="deleteDisabledLink(rule.id)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="headers"></tr>
      <tr mat-row *matRowDef="let row; columns: headers;"></tr>

  </table>

  <mat-paginator 
    style="position:relative; top:50px;"
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons="true"
    (page)="pageEvent = handlePaginationChange($event)">
  </mat-paginator>

</div>


